.btn {
  display: inline-block;
  border: 0;
  background-color: none;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  line-height: 1;
  letter-spacing: 1px;
  color: $black;
  background: $orange;
  padding: 1.7rem 4.4rem;
  border-radius: 30px;
  transition: background-color .2s;
  cursor: pointer;
  &:hover, &:focus {
    background-color: $orange-light;
  }
}
