/* ------ COLORS ------ */
$orange: #f1cdb3;
$orange-light: #fddcc4;
$lightgrey: #cdcdcd;
$grey: #4c4c4c;
$heading: #545454;
$black: #292929;
$white: #fff;
/* ------ MEDIA ------ */
$laptop: 1280px; // 1024-1280
$tablet: 1024px; // 480-1024
$phone: 480px; // 320-480
